<div class="slika">
    <img src="assets/more.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="row text-center">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="assets/letovanje.jpg" width="400" height="300">
            <p><strong>LETOVANJA</strong></p>

            <a href="letovanje.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Procitaj vise</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="assets/zimovanje.jpg" width="400" height="300">
            <p><strong>ZIMOVANJA</strong></p>
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Procitaj vise</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="assets/avanture.jpg" width="400" height="300">
            <p><strong>AVANTURE</strong></p>

            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Procitaj vise</a>
        </div>
    </div>
</div>